/*
+++++++++++++++++++
type
+++++++++++++++++++
*/
:root {
	--rad-font-size-small: clamp(13px, calc(0.8125rem + ((1vw - 7.68px) * 0.1736)), 15px);
	--rad-font-size-regular: clamp(16px, calc(1rem + ((1vw - 7.68px) * 0.1736)), 18px);
	--rad-font-size-extra-regular: clamp(20px, calc(1.25rem + ((1vw - 7.68px) * 0.1736)), 22px);
	--rad-font-size-medium: clamp(24px, calc(1.5rem + ((1vw - 7.68px) * 0.2604)), 27px);
	--rad-font-size-extra-medium: clamp(30px, calc(1.875rem + ((1vw - 7.68px) * 0.1736)), 32px);
	--rad-font-size-large: clamp(38px, calc(2.375rem + ((1vw - 7.68px) * 0.3472)), 42px);
	--rad-font-size-larger: clamp(48px, calc(3rem + ((1vw - 7.68px) * 0.5208)), 54px);
	--rad-font-size-huge: clamp(58px, calc(3.625rem + ((1vw - 7.68px) * 0.3472)), 62px);
	--rad-font-size-large-huge: clamp(68px, calc(4.25rem + ((1vw - 7.68px) * 0.3472)), 72px);
}
body .has-small-font-size {
	font-size: var(--rad-font-size-small, 12px) !important;
	min-height: 0vw;
}
body .has-regular-font-size {
	font-size: var(--rad-font-size-regular, 16px) !important;
	min-height: 0vw;
}
body .has-extra-regular-font-size {
	font-size: var(--rad-font-size-extra-regular, 18px) !important;
	min-height: 0vw;
}
body .has-medium-font-size {
	font-size: var(--rad-font-size-medium, 24px) !important;
	min-height: 0vw;
}
body .has-extra-medium-font-size {
	font-size: var(--rad-font-size-extra-medium, 28px) !important;
	min-height: 0vw;
}
body .has-large-font-size {
	font-size: var(--rad-font-size-large, 36px) !important;
	min-height: 0vw;
}
body .has-x-large-font-size {
	font-size: var(--rad-font-size-larger, 44px) !important;
	min-height: 0vw;
}
body .has-huge-font-size {
	font-size: var(--rad-font-size-huge, 55px);
	min-width: 0vw;
}
.has-big-mclargehuge-font-size {
	font-size: var(--rad-font-size-large-huge, 72px);
	min-width: 0vw;
}
body .editor-styles-wrapper {
	font-size: var(--rad-font-size-regular);
	min-height: 0vw;
	line-height: 1.65;
}
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	line-height: 1.07;
	margin-bottom: 1.3657rem;
}
.editor-styles-wrapper h1 {
	font-size: var(--rad-font-size-huge);
	min-height: 0vw;
}
.editor-styles-wrapper h2 {
	font-size: var(--rad-font-size-larger);
	min-height: 0vw;
}
.editor-styles-wrapper h3 {
	font-size: var(--rad-font-size-large);
	min-height: 0vw;
}
.editor-styles-wrapper h4 {
	font-size: var(--rad-font-size-extra-medium);
	min-height: 0vw;
}
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	font-size: var(--rad-font-size-medium);
	min-height: 0vw;
}
/*
+++++++++++++++++++
ACF UI NEATENING
+++++++++++++++++++
*/
/* hide label for menu item checkbox for non-clickable links */
body .acf-field-623e08104927a .acf-label label {
	display: none;
}
/*
+++++++++++++++++++
GLOBAL
+++++++++++++++++++
*/
.block-editor-block-list__block .block-list-appender.block-list-appender {
	margin: 0 auto;
}
/* group block */
/* large padding is the default for the group block */
.wp-block-group > .wp-block-group__inner-container {
	padding-top: 6rem;
	padding-bottom: 6rem;
}
.wp-block-group.is-style-medium-padding > .wp-block-group__inner-container {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.wp-block-group.is-style-small-padding > .wp-block-group__inner-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.wp-block-group.is-style-no-padding > .wp-block-group__inner-container {
	padding-top: 0;
	padding-bottom: 0;
}
.wp-block-cover__inner-container :last-child:not(.wp-block-separator) {
	margin-bottom: 0;
}
/* Main column width */
.wp-block {
	max-width: 800px;
}

/* Width of "wide" blocks */
.wp-block[data-align='wide'] {
	max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align='full'] {
	max-width: none;
}
body .editor-styles-wrapper .wp-block.limited-width {
	max-width: 800px !important;
	margin: 0 auto;
}
.aligncenter {
	margin: 0 auto;
	text-align: center;
}
.columns {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}
.dashicons-layout:before {
	color: #ff0096;
}


/*
+++++++++++++++++++
LISTS
+++++++++++++++++++
*/
@media screen and (min-width: 550px) { /* only on large enough screens */
	.editor-styles-wrapper ul.is-style-columns,
	.editor-styles-wrapper ol.is-style-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		margin: 1.5rem 0 1.5rem 3rem;
	}
	.editor-styles-wrapper ul.is-style-columns li {
		padding: .25rem 1.25rem .25rem 0;
	}
}
.editor-styles-wrapper ul.is-style-checkmark {
	list-style: none;
	margin: 0 0 1rem 2rem;
}
.editor-styles-wrapper ul.is-style-checkmark li:before {
	content: '\2713 ';
	position: relative;
	left: -0.5rem;
	color: rgb(46, 144, 65);
	font-weight: bold;
}
.editor-styles-wrapper ul.is-style-checkmark-right {
	list-style-type: none;
	margin: 0 0 1rem 0;
}
.editor-styles-wrapper ul.is-style-checkmark-right li {
	padding: 0 1.5rem 1rem 0;
	border-bottom: 1px solid #f0f0f0;
	margin: 1rem 0;
	position: relative;
}
.editor-styles-wrapper ul.is-style-checkmark-right li::before {
	content: " \2713";
	position: absolute;
	right: 0px;
	color: rgb(46, 144, 65);
	font-weight: bold;
}
ul.is-style-checkmark-right li:has(s)::after {
	content: " \2717";
	color: #c3614c;
}
.editor-styles-wrapper ul.is-style-inline-list {
	margin-left: 0;
	padding-left: 0;
}
.is-style-inline-list li {
	display: inline-block;
	margin-right: 1ch;
}
.is-style-inline-list li:before {
	content: '\2713';
	margin-right: 1ch;
}
/*
+++++++++++++++++++
BUTTONS
+++++++++++++++++++
*/
.wp-block-button {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
body .wp-block-button.alignright {
	float: none;
	text-align: right;
	max-width: var(--content-width);
	margin-left: auto;
}
.wp-block-button.is-style-outline  .wp-block-button__link {
	border: 2px solid #343434;
	text-shadow: none;
}
.wp-block-button .wp-block-button__link {
	background: none #343434;
	font-size: 100%;
	padding: .5rem 1.25rem;
	border: 0;
	border-radius: 3px;
	color: #fff;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
	transition: background 250ms ease-in-out, transform 250ms ease-in-out;
	display: inline-block;
	text-decoration: none;
}
.mw-button:hover,
.wp-block-button .wp-block-button__link:hover {
	background: #232323;
	color: #fff;
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
	-webkit-box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
	box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
}
/*
+++++++++++++++++++
BLOCKS
+++++++++++++++++++
*/
/* columns */
.wp-block-column.has-background > figure {
	margin: 0;
}
.wp-block-column.has-background > *:not(figure) {
	padding-left: 2rem;
	padding-right: 2rem;
}
.wp-block-column.has-background > * {
	padding-bottom: 2rem;
}
.wp-block-column.has-background > h1,
.wp-block-column.has-background > h2,
.wp-block-column.has-background > h3,
.wp-block-column.has-background > h4,
.wp-block-column.has-background > h5,
.wp-block-column.has-background > h6 {
	padding-bottom: 0;
}
.wp-block-column.has-background p:last-of-type {
	margin-bottom: 0;
}
/* media & text */
/* media & text stack style */
.wp-block-media-text.is-style-stack {
	display: flex;
	flex-direction: column;
}
/* timeline of events block */
.rad-timeline__event {
	display: flex;
}
.rad-timeline .acf-innerblocks-container > .wp-block:nth-of-type(even) .rad-timeline__event {
	flex-direction: row-reverse;

}
.rad-timeline__event-spacer,
.rad-timeline__event .rad-timeline__event-inner {
	flex: 0 0 50%;
	max-width: 50%;
	padding: 1rem 2rem;
}
.rad-timeline__event .rad-timeline__event-inner {
	border: 2px dashed transparent;
	border-right: 2px dashed #ccc;
}
.rad-timeline .acf-innerblocks-container > .wp-block:nth-of-type(even) .rad-timeline__event .rad-timeline__event-inner {
	border-left: 2px dashed #ccc;
	border-right: 2px solid transparent;
	position: relative;
	left: -2px;
}
.rad-timeline__event .rad-timeline__event-inner .acf-innerblocks-container {
	padding: 2rem;
	position: relative;
	background-color: #ccc;
}
.rad-timeline__event .rad-timeline__event-inner .acf-innerblocks-container:after {
	content: "";
	height: 2px;
	width: 2rem;
	border: 2px dashed #ccc;
	border-width: 2px 0 0 0;
	position: absolute;
	right: -2rem;
}
.rad-timeline .acf-innerblocks-container > .wp-block:nth-of-type(even) .rad-timeline__event .rad-timeline__event-inner .acf-innerblocks-container:after {
	left: -2rem;
}
/*
+++++++++++++++++++
QUOTES
+++++++++++++++++++
*/
blockquote {
	line-height: 1.2;
}
cite {
	font-style: italic;
}
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	line-height: 1.2;
	border: solid 1px #d8dbdc;
	border-radius: 7px;
	box-shadow: none;
	background: #f1f1f1;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 2rem;
}
/* pullquote */
.editor-styles-wrapper .wp-block-pullquote {
	border: none;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 2rem;
	background-color: #f0f0f0;
}
.editor-styles-wrapper .wp-block-pullquote.is-style-bordered {
	border: 1px solid #343434; /* can be overidden by block-editor-applied inline styles */
}
/* todo separator block is bugged– selecting a background color adds a text color class instead. wait for fix? */
.wp-block-separator:not(.has-text-color) {
	background-color: #343434;
}
.editor-styles-wrapper .wp-block-separator {
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: 0;
	border: none;
	height: 3px;
	width: unset !important;
	max-width: 15%;
	clear: both;
}
.editor-styles-wrapper .wp-block-separator.is-style-centered {
	height: 3px;
	width: 20%;
	margin: 3rem auto;
}
.editor-styles-wrapper hr.wp-block-separator.is-style-spacer,
.editor-styles-wrapper hr.wp-block-separator.is-style-small-spacer {
	background: rgba(245, 245, 245, .1);
	width: unset;
	max-width: unset;
	outline: 3px dashed #d0d0d0;
	transition: background-color 150ms ease-in-out, outline-color 150ms ease-in-out;
	margin-top: 0;
	margin-bottom: 0;
}
.editor-styles-wrapper hr.wp-block-separator.is-style-spacer {
	height: 6rem;
}
.editor-styles-wrapper hr.wp-block-separator.is-style-small-spacer {
	height: 3rem;
}
.editor-styles-wrapper hr.wp-block-separator.is-style-spacer:hover,
.editor-styles-wrapper hr.wp-block-separator.is-style-small-spacer:hover {
	outline: 3px dashed #d0d0d0;
	background: rgba(245, 245, 245, .2);
}

/*
+++++++++++++++++++
FAQs
+++++++++++++++++++
*/
.rad-faq__faq {
	padding: .5rem 0;
}
.rad-faq__faq .rad-faq__question { 
	cursor: pointer;
	list-style: none;
	display: flex;
	align-items: center;
}
.rad-faq__faq .rad-faq__question .rad-faq__question-inner { 
	flex: 1 1 auto;
}

.rad-faq__faq .rad-faq__question::after { 
	content: '+';
	color: #c0c0c0;
	flex:  0 1 1ch;
	position: relative;
	top: 3px;
	width: 1rem;
	margin-right: 0;
	margin-left: 1rem;
}
.rad-faq__faq > .rad-faq__question::-webkit-details-marker {
	display: none;
}
.rad-faq__faq + .rad-faq__faq {
	margin-top: .5rem;
}
.rad-faq__faq[open] .rad-faq__question:after {
	content: '-';
}
.rad-faq__answer {
	padding-top: 1rem;
}
.rad-faq__separator {
	border: 0;
	height: 1px;
	background-color: #c0c0c0;
	width: 100%;
}
.rad-faq__separator:last-of-type {
	display: none;
}
/* social icons */
.rad-social-icons a {
	pointer-events: none;
}